#about-h1 {
    color: gray;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.ul-port ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}