#about-h1 {
    color: gray;
}

#main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gray;
}

#main-nav li {
    list-style: none;
}

#main-nav a {
    color: gray;
    text-decoration: none;
}

#port-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#port-nav li {
    list-style: none;
}

#port-nav a {
    color: gray;
    text-decoration: none;
}
