body, html{ margin: 0; padding: 0;}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-bar-logo {
    background-color: aqua;
    flex: 0.5;
}

.about-wrapper {
    background-color: goldenrod;
    flex: 4;
}

.slides-section {
    background-color: #f0f0f0;
    flex: 2;
}

.social-media-bar {
    background-color: green;
    flex: 0.5;
}

.h-100 {
    height: 100%;
}